*{
    box-sizing: border-box;
}
body{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;

}
footer , header , main , aside{
    width: 100%;
}

h1,h2,h3, footer{
    font-family: 'coiny' , cursive;
    color: black;
}

/* Link de la barra de navegación */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Section servicios lista ordenada */
ol li {
    margin-bottom: 6%;
}
nav h1 {
    margin-right: auto;
}

nav a, footer a{
    margin-left: 20px;
    color: #7A7A7A;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
header h1 {
    font-size: 41px;
    font-weight: 700;
    background-color: #fcee21;
}
header img{
    width: 70%;
    margin-left: 30%;
}
h1,h2,h3,h4{
    color: black;
}
h2{
    font-size: 26px;
    font-weight: none;
}
h3{
    font-size: 26px;
}
h4{
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
}

aside img{
    height: auto;
    width: 50%;
}

footer{
    background-color: #fcee21;
    height: 100px;
    padding: 10px;
}

footer h1{
    font-size: 33px;
}

main{
    font-size: 21px;
}

/* FORMULARIO */
span{
    color: red;
}

label{
    display: block;
    margin-bottom: 5%;
}
input{
    height: 40px;
}

input, textarea{
    width: 100%;
}

form{
    margin: auto;
}

.grande{
    font-size: 100px;
    font-family: 'coiny' , cursive;
}

h1,h2,h3,h4, .item{
    color: #000;
}

.item {
    font-size: 24px;
    font-weight: bold;
    background-color: #FCEE21;
}
.encolumnar{
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid gray;
}

#titulo {
    font-size: 40px;
}
header.encolumnar,
aside.encolumnar{
    border-bottom: none;
}

#imagen {
    width: 80%;
    display: block;
    margin: auto;
}

h4{
    margin: 0;
    font-size: 51px;
    color: #ffff;
    background-color: #000;
    line-height: 100px;
    padding:10px;
    display: inline;
}
h3{
    font-size: 20px;
    background-color: #FCEE21;
    display: inline;
}

label{
    display: block;
    margin-bottom:5px;
}